html {
  font-family: Montserrat;
}

body {
  font-weight: 400;
  font-size: 125%;
  margin: 0;
  overflow-y: hidden;
}

header {
  font-weight: 300;
  background-color: #46424D;
  color: #FFF;
  margin: 0;
  padding: 0.5%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #46424D;
  color: #CBC9CF;
  height: 1000px;
}

h1,
h2 {
  font-weight: 300;
}


h3 {
  font-weight: 300;
  margin: 0px;
}

div {
  background-color: #46424D;
  color: #FFF;
  height: 53%;
  padding: 2% 15% 2% 15%;
  box-shadow: 5px 5px 2px #26222D;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  margin: 0;
}

.activity-container {
  background-color: #2B2733;
  width: 67%;
  padding: 0% 2% 2% 2%;
}

.input {
  width: 100%;
  background-color: #46424D;
  border: 0;
  border-bottom: 1px solid #CBC9CF;
  font-size: 18px;
  line-height: 40px;
  color: #CBC9CF;
}

.minutes-container {
  width: 40%;
  height: 40%;
}

.seconds-container {
  width: 40%;
  height: 40%;
}

.seconds-input {
  width: 100%;
  background-color: #46424D;
  border: 0;
  border-bottom: 1px solid #CBC9CF;
}

.no-logged-activities {
  text-align: center;
  padding-top: 3%;
}

.button-image {
  max-width: 30px;
  max-height: auto;
}

.category-button {
  background-color: #46424D;
  border: 2px solid #CBC9CF;
  border-radius: 5px;
  width: 27%;
  padding: 1% 0% 1% 0%;
  color: #CBC9CF;
  font-size: 120%;
}

.category-container,
.input-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.white-button {
  background-color: #CBC9CF;
  border: 0;
  border-radius: 3px;
  padding: 1.5% 5% 1.5% 5%;
  color: #46424D;
  font-size: 20px;
}

.start-activity-button {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  max-width: 200px;
  align-self: flex-end;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin: 0px;
  padding-bottom: 30px;
}

.timer-words-container {
  display: flex;
}

.start-timer-button {
  background-color: #46424D;
  border-radius: 50%;
  border: 2px solid;
  margin-bottom: 50px;
  padding: 16% 12%;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 24px;
  max-width: 40%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.study-button-color {
  border-color: #B3FD78;
  color: #B3FD78;
}

.meditate-button-color {
  border-color: #C278FD;
  color: #C278FD;
}

.exercise-button-color {
  border-color: #FD8078;
  color: #FD8078;
}

.text-color {
  color: #CBC9CF;
}

.error {
  color: #EFB7EC;
  font-size: 15px;
  border-color: #EFB7EC;
}

.warning-img {
  max-width: 15px;
  max-height: auto;
  margin-right: 5px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #46424D;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #26222d;
  padding: 3%;
  max-height: 5%;
  margin-bottom: 10px;
}

.card-text {
  width: 98%;
}

.card-header {
  font-weight: 900;
  font-size: 100%;
}

.card-time {
  font-size: 130%;
}

.card-description{
  margin-top: 10px;
  font-size: 15px;
}

.category-color-bar {
  height: 30px;
  width: 5px;
  border-radius: 3px;
}

.completed-activity-reset {
  justify-content: flex-start;
}

.create-new-button {
  margin-top: 20%;
  margin-left: 17%;
  max-width: 400px;
}

.study {
   background-color: #B3FD78;
 }

.meditate {
  background-color: #C278FD;
}

.exercise {
  background-color: #FD8078;
}

.past-activities-container {
  background-color: #2B2733;
  width: 33%;
  border-left: 3px solid #46424D;
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
