body {
  font-family: Montserrat;
  font-size: 125%;
  margin: 0;
  overflow-y: hidden;
}

header {
  background-color: #46424D;
  color: #FFF;
  margin: 0;
  padding: 0.5%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #46424D;
  color: #CBC9CF;
  height: 1000px;
}

form {
  background-color: #46424D;
  color: #FFF;
  height: 57%;
  padding: 2% 15% 2% 15%;
}

.new-activity-container {
  background-color: #2B2733;
  width: 67%;
  padding: 0% 2% 2% 2%
}

.past-activities-container {
  background-color: #2B2733;
  width: 33%;
  border-left: 3px solid #46424D;
  padding-left: 2%;
  padding-right: 2%;
}

.no-logged-activities {
  text-align: center;
  padding-top: 3%
}

.button-image {
  max-width: 30px;
  max-height: auto;
}

.category-button {
  background-color: #46424D;
  border: 1px solid #CBC9CF;
  border-radius: 3px;
  width: 25%;
  color: #CBC9CF;
  font-size: 120%;
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
